<?xml version="1.0" encoding="utf-8" ?>
<Counters>
  <Perfmon>
    <Category name="LogicalDisk">
      <Counter name="% Free Space" />
    </Category>
    <Category name="Memory">
      <Counter name="% Committed Bytes In Use" />
    </Category>
    <Category name="Network Interface">
      <Counter name="Bytes Received/sec" />
      <Counter name="Bytes Sent/sec" />
    </Category>
    <Category name="PhysicalDisk">
      <Counter name="% Disk Read Time" />
      <Counter name="% Disk Write Time" />
      <Counter name="Current Disk Queue Length" />
      <Counter name="Disk Write Bytes/sec" />
      <Counter name="Disk Read Bytes/sec" />
    </Category>
    <Category name="Process">
      <Counter name="% Processor Time">
        <Instance name="backgrounder" />
        <Instance name="clustercontroller" />
        <Instance name="dataserver" />
        <Instance name="filestore" />
        <Instance name="httpd" />
        <Instance name="postgres" ephemeral="true" />
        <Instance name="searchserver" />
        <Instance name="tabadminservice" />
        <Instance name="tableau" />
        <Instance name="tabprotosrv" ephemeral="true" />
        <Instance name="tabrepo" />
        <Instance name="tabsvc" />
        <Instance name="tabsystray" />
        <Instance name="tdeserver" ephemeral="true" />
        <Instance name="vizportal" />
        <Instance name="vizqlserver" />
        <Instance name="wgserver" />
        <Instance name="zookeeper" />
      </Counter>
      <Counter name="Thread Count">
        <Instance name="httpd" />
        <Instance name="vizportal" />
        <Instance name="vizqlserver" />
      </Counter>
      <Counter name="Working Set">
        <Instance name="backgrounder" />
        <Instance name="clustercontroller" />
        <Instance name="dataserver" />
        <Instance name="filestore" />
        <Instance name="httpd" />
        <Instance name="postgres" ephemeral="true" />
        <Instance name="searchserver" />
        <Instance name="tabadminservice" />
        <Instance name="tableau" />
        <Instance name="tabprotosrv" ephemeral="true" />
        <Instance name="tabrepo" />
        <Instance name="tabsvc" />
        <Instance name="tabsystray" />
        <Instance name="tdeserver" ephemeral="true" />
        <Instance name="vizportal" />
        <Instance name="vizqlserver" />
        <Instance name="wgserver" />
        <Instance name="zookeeper" />
      </Counter>
    </Category>
    <Category name="Processor">
      <Counter name="% Processor Time">
        <Instance name="Total" />
      </Counter>
    </Category>
    <Category name="System">
      <Counter name="Processes" />
    </Category>
  </Perfmon>
  <MBean>
    <Source name="vizportal" startport="8900" endport="8999">
      <TableauHealth>
        <Category name="Get View" path="name=webclientappservice.getview">
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="Guest Login" path="name=webclientappservice.guestlogin">
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="Publish Workbook" path="name=iclientxmlappservice.publishworkbook">
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="Run Extract Tasks" path="name=webclientappservice.runextracttasks">
          <Counter name="AverageBatchFailure" />
          <Counter name="AverageBatchSize" />
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="Run Extract Refreshes on Workbooks" path="name=webclientappservice.runextractrefreshesonworkbooks">
          <Counter name="AverageBatchFailure" />
          <Counter name="AverageBatchSize" />
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="Run Extract Refreshes on Data Sources" path="name=webclientappservice.runextractrefreshesondatasources">
          <Counter name="AverageBatchFailure" />
          <Counter name="AverageBatchSize" />
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="Run Schedules" path="name=webclientappservice.runschedules">
          <Counter name="AverageBatchFailure" />
          <Counter name="AverageBatchSize" />
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="Search Metrics" path="name=searchservice">
          <Counter name="AverageQueryLatency" unit ="ms" />
          <Counter name="RequestProcessed" />
        </Category>
        <Category name="Sync AD Group" path="name=iclientxmlappservice.syncactivedirectorygroup">
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
        <Category name="User Login" path="name=webclientappservice.login">
          <Counter name="AverageRequestLatency" unit="ms" />
          <Counter name="RequestsFailed" />
          <Counter name="RequestsProcessed" />
        </Category>
      </TableauHealth>
      <JVMHealth>
        <Category name ="Compilation" path="type=Compilation">
          <Counter name="TotalCompilationTime" unit="ms" />
        </Category>
        <Category name="Memory" path="type=Memory">
          <Counter name="HeapMemoryUsage\committed" unit="bytes" />
          <Counter name="HeapMemoryUsage\used" unit="bytes" />
          <Counter name="NonHeapMemoryUsage\committed" unit="bytes" />
          <Counter name="NonHeapMemoryUsage\used" unit="bytes" />
        </Category>
      </JVMHealth>
    </Source>
    <Source name="vizql" startport="9400" endport="9499">
      <TableauHealth>
        <Category name="External Query Cache" path="name=vizqlservice">
          <Counter name="ExternalAbstractQueryCacheHits" />
          <Counter name="ExternalAbstractQueryCacheMisses" />
          <Counter name="ExternalQueryCacheHits" />
          <Counter name="ExternalQueryCacheMisses" />
        </Category>
        <Category name="InProcess Query Cache" path="name=vizqlservice">
          <Counter name="InProcessAbstractQueryCacheHits" />
          <Counter name="InProcessAbstractQueryCacheMisses" />
          <Counter name="InProcessQueryCacheHits" />
          <Counter name="InProcessQueryCacheMisses" />
        </Category>
        <Category name="Visual Model Cache" path="name=vizqlservice">
          <Counter name="VisualModelCacheHits" />
          <Counter name="VisualModelCacheMisses" />
          <Counter name="VisualModelCachePartialHits" />
        </Category>
        <Category name="Image Cache" path="name=vizqlservice">
          <Counter name="ImageCacheHits" />
          <Counter name="ImageCacheMisses" />
        </Category>
        <Category name="Sessions" path="name=vizqlservice">
          <Counter name="ActiveSessions" />
        </Category>
      </TableauHealth>
    </Source>
    <Source name="dataserver" startport="10000" endport="10299">
      <TableauHealth>
        <Category name="Overall Metrics" path="name=dataserver">
          <Counter name="ActiveSessions" />
          <Counter name="RequestsCount" />
        </Category>
      </TableauHealth>
    </Source>
  </MBean>
</Counters>