/packages/
!packages/repositories.config
DataTableWriter/bin/
DataTableWriter/obj/
/TabMon/bin/
/TabMon/obj/
TabMonConfigSectionGenerator/obj/
TabMonService/bin/
TabMonService/obj/
TabMonServiceInstaller/bin/
TabMonServiceInstaller/obj/
TabMonServiceInstallerDBInitializer/bin/
TabMonServiceInstallerDBInitializer/obj/
TabMonServiceInstallerBootstrapper/bin/
TabMonServiceInstallerBootstrapper/obj/
TabMonServiceInstallerBootstrapper/Installers/TabMon.msi
TabMonServiceInstallerBootstrapper/Installers/TabMonServiceInstallerDBInitializer.msi
TabMon.v12.suo
.vs/TabMon/v14/
TabMonConfigSectionGenerator/bin/
TabMonServiceInstaller/Generated/
*.user
docs/Gemfile.lock
docs/_site
