<?xml version="1.0" encoding="utf-8" ?>
<!-- Intended for use with Tableau Server versions 9.3 & 10.0 -->
<Counters>
  <Perfmon>
    <Category name="LogicalDisk">
      <Counter name="% Free Space" />
    </Category>
    <Category name="Memory">
      <Counter name="Available Bytes" />
      <Counter name="Committed Bytes" />
      <Counter name="Pages Input/sec" />
    </Category>
    <Category name="Network Interface">
      <Counter name="Bytes Received/sec" />
      <Counter name="Bytes Sent/sec" />
    </Category>
    <Category name="PhysicalDisk">
      <Counter name="Current Disk Queue Length" />
      <Counter name="Disk Write Bytes/sec" />
      <Counter name="Disk Read Bytes/sec" />
    </Category>
    <Category name="Process">
      <Counter name="% Processor Time">
        <Instance name="backgrounder" />
        <Instance name="clustercontroller" />
        <Instance name="dataserver" />
        <Instance name="filestore" />
        <Instance name="httpd" />
        <Instance name="postgres" ephemeral="true" />
        <Instance name="searchserver" />
        <Instance name="tabadminservice" />
        <Instance name="tableau" />
        <Instance name="tabprotosrv" ephemeral="true" />
        <Instance name="tabrepo" />
        <Instance name="tabsvc" />
        <Instance name="tabsystray" />
        <Instance name="tdeserver" />
        <Instance name="vizportal" />
        <Instance name="vizqlserver" />
        <Instance name="wgserver" />
        <Instance name="zookeeper" />
      </Counter>
      <Counter name="Thread Count">
        <Instance name="httpd" />
        <Instance name="vizportal" />
        <Instance name="vizqlserver" />
      </Counter>
      <Counter name="Private Bytes">
        <Instance name="backgrounder" />
        <Instance name="clustercontroller" />
        <Instance name="dataserver" />
        <Instance name="filestore" />
        <Instance name="httpd" />
        <Instance name="postgres" ephemeral="true" />
        <Instance name="searchserver" />
        <Instance name="tabadminservice" />
        <Instance name="tableau" />
        <Instance name="tabprotosrv" ephemeral="true" />
        <Instance name="tabrepo" />
        <Instance name="tabsvc" />
        <Instance name="tabsystray" />
        <Instance name="tdeserver" />
        <Instance name="vizportal" />
        <Instance name="vizqlserver" />
        <Instance name="wgserver" />
        <Instance name="zookeeper" />
      </Counter>
    </Category>
    <Category name="Processor">
      <Counter name="% Processor Time">
        <Instance name="Total" />
      </Counter>
    </Category>
    <Category name="System">
      <Counter name="Processor Queue Length" />
    </Category>
  </Perfmon>
  <MBean>
    <Source name="background job monitor" startport="8550" endport="8550">
      <TableauInstrumentation>
        <Category name ="Execute Job" path="type=methods,00=jobRunner,name=executeJob">
          <Counter name="ExceptionCount" />
          <Counter name="InvocationCount" />
        </Category>
        <Category name ="Refresh Extracts" path="type=methods,00=worker,01=refreshExtracts,name=execute">
          <Counter name="DurationMean" />
          <Counter name="ExceptionCount" />
          <Counter name="InvocationCount" />
        </Category>
        <Category name ="Single Subscription Notify" path="type=methods,00=worker,01=singleSubscription,name=execute">
          <Counter name="DurationMean" />
          <Counter name="ExceptionCount" />
          <Counter name="InvocationCount" />
        </Category>
      </TableauInstrumentation>
    </Source>
    <Source name="vizportal" startport="8900" endport="8999">
      <TableauInstrumentation>
        <Category name ="Queue Background Job" path="type=methods,00=service,01=backgroundJob,name=queueJob">
          <Counter name="ExceptionCount" />
          <Counter name="InvocationCount" />
        </Category>
        <Category name ="Login" path="type=methods,00=api,01=webClient,name=login">
          <Counter name="ExceptionCount" />
          <Counter name="InvocationCount" />
        </Category>
        <Category name ="SSPI Login" path="type=methods,00=api,01=webClientAuth,name=sspiLogin">
          <Counter name="ExceptionCount" />
          <Counter name="InvocationCount" />
        </Category>
      </TableauInstrumentation>
      <JVMHealth>
        <Category name="Memory" path="type=Memory">
          <Counter name="HeapMemoryUsage\committed" unit="bytes" />
          <Counter name="HeapMemoryUsage\used" unit="bytes" />
          <Counter name="NonHeapMemoryUsage\committed" unit="bytes" />
          <Counter name="NonHeapMemoryUsage\used" unit="bytes" />
        </Category>
      </JVMHealth>
    </Source>
    <Source name="vizql" startport="9400" endport="9499">
      <TableauHealth>
        <Category name="External Query Cache" path="name=vizqlservice">
          <Counter name="ExternalAbstractQueryCacheHits" />
          <Counter name="ExternalAbstractQueryCacheMisses" />
          <Counter name="ExternalNativeQueryCacheHits" />
          <Counter name="ExternalNativeQueryCacheMisses" />
        </Category>
        <Category name="InProcess Query Cache" path="name=vizqlservice">
          <Counter name="InProcessAbstractQueryCacheHits" />
          <Counter name="InProcessAbstractQueryCacheMisses" />
          <Counter name="InProcessNativeQueryCacheHits" />
          <Counter name="InProcessNativeQueryCacheMisses" />
        </Category>
        <Category name="Visual Model Cache" path="name=vizqlservice">
          <Counter name="VisualModelCacheHits" />
          <Counter name="VisualModelCacheMisses" />
          <Counter name="VisualModelCachePartialHits" />
        </Category>
        <Category name="Image Cache" path="name=vizqlservice">
          <Counter name="ImageCacheHits" />
          <Counter name="ImageCacheMisses" />
        </Category>
        <Category name="Vizql Sessions" path="name=vizqlservice">
          <Counter name="ActiveSessions" />
        </Category>
      </TableauHealth>
      <TableauInstrumentation>
        <Category name ="Bootstrap Session" path="type=methods,00=api,01=vqlweb,name=bootstrapSession">
          <Counter name="DurationMean" />
          <Counter name="ExceptionCount" />
          <Counter name="InvocationCount" />
        </Category>
      </TableauInstrumentation>
    </Source>
    <Source name="dataserver" startport="10000" endport="10299">
      <TableauHealth>
        <Category name="Dataserver Metrics" path="name=dataserver">
          <Counter name="ActiveSessions" />
          <Counter name="ProtocolInstanceCount" />
          <Counter name="RequestsCount" />
        </Category>
      </TableauHealth>
    </Source>
  </MBean>
</Counters>