<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.OpenJDK.Corba" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Management" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Misc" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Naming" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Remoting" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
</packages>